doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        title Ответ
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        main
            div.container
                div.row #{`Пользователь "${user}" ${result?"":"не"} существует`} 
                div.row
                    input(type="button", value="Назад" onclick="window.location.href='/'").button